*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer{
  margin-left : 80px;
  font-size : 18px;
}
#main{
  display: grid;
  grid-template-columns: 450px 240px 450px;
  justify-content: center;
  padding-top: 15px;
}
#score{
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding-top: 25px;
}
#heroes, #villans{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.img{
  border: 2px solid #e6e6e6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.img img{
  height: 100px;
  width: 100px;
}
.img p, .img h1{
  padding-top: 5px;
}
.img h1{
  font-size: 40px;
}
.last-hero{
  grid-column: -2/-1;
}